# Proposal
By Marcellinus Jerricho, Edward Jeremy Lo, Rana Harris Farooq

## Content
This proposal contains the following:
1. [Data](#Data)
2. [Research Questions](#Research-Questions)
3. [Exploratory Data Analysis](#Exploratory-Data-Analysis)
4. [Timeline](#Timeline)
5. [Teamwork](#Teamwork)

In [1]:
# importing necessary modules
import pandas as pd
import numpy as np
import os
import re

## Data

### Penalties

In [2]:
# initial raw data
# PT = Penalty Taker
columns_to_drop = ['Pen taker', 'Journee', 'Date', 'LtD game-changing pen', 'DtW game-changing pen', 'L no game-changing', 'W no game-changing', 'PT sub', 'Last Goal']
penalty_stats = pd.read_csv('penalty_stats_19_20.csv').drop(columns=columns_to_drop).dropna()
penalty_stats.head()

,Id,Competition,Home team,Away team,Team taking pen,Minute,Scored,PT position,Team win
0,1,Premier League,West Ham,Manchester City,Away,84.0,NO,ST,YES
1,2,Premier League,West Ham,Manchester City,Away,86.0,YES,ST,YES
2,3,Premier League,Manchester United,Chelsea,Home,18.0,YES,W,YES
3,4,Premier League,Aston Villa,Bournemouth,Away,2.0,YES,OM,YES
4,5,Premier League,Wolverhampton,Manchester United,Away,68.0,NO,DM,NO

In [3]:
# get the dummies
columns_to_get_dummies = ['Team taking pen', 'Scored', 'Team win']
penalty_stats_dummies = pd.get_dummies(penalty_stats[columns_to_get_dummies], drop_first=True)

In [4]:
# combining penalty
penalty = penalty_stats[['Competition', 'Home team', 'Away team', 'Minute', 'PT position']].join(penalty_stats_dummies)
penalty.head()

,Competition,Home team,Away team,Minute,PT position,Team taking pen_Home,Scored_YES,Team win_YES
0,Premier League,West Ham,Manchester City,84.0,ST,0,0,1
1,Premier League,West Ham,Manchester City,86.0,ST,0,1,1
2,Premier League,Manchester United,Chelsea,18.0,W,1,1,1
3,Premier League,Aston Villa,Bournemouth,2.0,OM,0,1,1
4,Premier League,Wolverhampton,Manchester United,68.0,DM,0,0,0

In [5]:
# getting the team taking penalty
def get_PT_team(row):
    if row['Team taking pen_Home']:
        return row['Home team']
    return row['Away team']

penalty['PT team'] = penalty.apply(get_PT_team, axis=1)
penalty.head()

,Competition,Home team,Away team,Minute,PT position,Team taking pen_Home,Scored_YES,Team win_YES,PT team
0,Premier League,West Ham,Manchester City,84.0,ST,0,0,1,Manchester City
1,Premier League,West Ham,Manchester City,86.0,ST,0,1,1,Manchester City
2,Premier League,Manchester United,Chelsea,18.0,W,1,1,1,Manchester United
3,Premier League,Aston Villa,Bournemouth,2.0,OM,0,1,1,Bournemouth
4,Premier League,Wolverhampton,Manchester United,68.0,DM,0,0,0,Manchester United

### Payrolls

In [6]:
# getting individual datasets
bundesliga = pd.read_csv('bundesliga.csv')[['Club', 'Annual Gross (IN EUR']]
ligue1 = pd.read_csv('ligue-1.csv')[['Club', 'Annual Gross (IN EUR']]
serieA = pd.read_csv('serieA.csv')[['Club', 'Annual Gross (IN EUR']]
laliga = pd.read_csv('la-liga.csv')[['Club', 'Annual Gross (IN EUR']]
primeiraliga = pd.read_csv('primeira-liga.csv')[['Club', 'Annual Gross (IN EUR']]
# NOTE: epl is in GBP, not in EUR
epl = pd.read_csv('epl.csv')[['Club', 'Annual Gross (IN GBP']].rename(columns={'Annual Gross (IN GBP': 'Payroll'}).drop_duplicates('Club')

In [7]:
# defining functions to convert the currency to float
def get_payroll_float(payroll_str):
    '''
    Convert the payroll in string into payroll in integers.
    '''
    payroll_int = float("".join(re.findall('\d+', payroll_str)))
    return payroll_int * 1000

def convert_GBP_to_EUR(payroll_gbp):
    '''
    Convert the payroll from GBP currency to EUR currency for EPL
    Source: https://www.exchangerates.org.uk/GBP-EUR-spot-exchange-rates-history-2019.html#:~:text=Average%20exchange%20rate%20in%202019%3A%201.1405%20EUR.
    '''
    return payroll_gbp * 1.1405

In [8]:
# Combining the payroll datasets
payroll_EUR = bundesliga.append(ligue1).append(serieA).append(laliga).append(primeiraliga).reset_index()\
                        .rename(columns={'Annual Gross (IN EUR': 'Payroll'}).drop_duplicates('Club')
payroll_EUR['Payroll_EUR'] = payroll_EUR['Payroll'].apply(get_payroll_float)
payroll_epl = epl
payroll_epl['Payroll_EUR'] = payroll_epl['Payroll'].apply(get_payroll_float).apply(convert_GBP_to_EUR)
payroll = payroll_EUR.append(payroll_epl).reset_index().drop(columns=['Payroll', 'index', 'level_0'])
payroll.head()

                  Club   Payroll_EUR
0            Paderborn  7.010000e+08
1            Wolfsburg  6.687000e+09
2  Eintracht Frankfurt  4.307000e+09
3           Dusseldorf  2.195000e+09
4           Schalke 04  4.863000e+09

### Stadium Capacity

In [9]:
capacity = pd.read_csv('football-stadiums.csv')[['Confederation', 'HomeTeams', 'Capacity']]
capacity = capacity.drop(columns=['Confederation']).rename(columns={'Capacity': 'Stadium cap'})
capacity.head()

                      HomeTeams  Stadium cap
0                    Besëlidhja         7000
1              Flamurtari Vlorë         8200
2                       KF Laçi         5000
3                         Teuta        12040
4  KF Tirana, Dinamo, Partizani         9500

### Combining all datasets

In [10]:
penalty_payroll = penalty.join(payroll.set_index('Club'), on='PT team')
data = penalty_payroll.join(capacity.set_index('HomeTeams'), on='Home team')
data.head()
# CHECKING for NaN
# penalty_payroll[penalty_payroll['Payroll_EUR'].isnull()]
# data[data['Stadium cap'].isnull()]

,Competition,Home team,Away team,Minute,PT position,Team taking pen_Home,Scored_YES,Team win_YES,PT team,Payroll_EUR,Stadium cap
191,Champions league,Olympiakos,Tottenham,26.0,ST,0,1,0,Tottenham,1.226950e+10,NaN
192,Champions league,Olympiakos,Tottenham,54.0,OM,1,1,0,Olympiakos,NaN,NaN
196,Champions league,Shaktar Donetsk,Dinamo Zagreb,60.0,W,0,1,0,Dinamo Zagreb,NaN,NaN
207,Champions league,Dinamo Zagreb,Shaktar Donetsk,98.0,DM,0,1,0,Shaktar Donetsk,NaN,NaN
209,Champions league,Etoile Rouge Belgrade,Bayern Munich,53.0,ST,0,1,1,Bayern Munich,1.923700e+10,NaN
213,Champions league,Slavia Prague,Inter Milan,37.0,DM,1,1,0,Slavia Prague,NaN,NaN
220,Champions league,Olympiakos,Etoile Rouge Belgrade,42.0,ST,0,0,0,Etoile Rouge Belgrade,NaN,NaN
221,Champions league,Olympiakos,Etoile Rouge Belgrade,87.0,ST,1,1,1,Olympiakos,NaN,NaN
313,SERIE A,Genoa,Fiorentina,76.0,DM,0,1,0,Fiorentina,4.777000e+09,NaN
315,SERIE A,Genoa,Atalanta,64.0,ST,0,1,1,Atalanta,3.682000e+09,NaN
316,SERIE A,Genoa,Atalanta,91.0,CB,1,1,0,Genoa,NaN,NaN
326,SERIE A,Genoa,Bologna,78.0,W,0,0,0,Bologna,3.688000e+09,NaN
336,SERIE A,Genoa,AC Milan,57.0,DM,0,1,1,AC Milan,1.051900e+10,NaN
337,SERIE A,Genoa,AC Milan,93.0,OM,1,0,0,Genoa,NaN,NaN
387,SERIE A,Genoa,Sassuolo,29.0,CB,1,1,1,Genoa,NaN,NaN

## Research Questions

## Exploratory Data Analysis

## Timeline

## Teamwork